html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}
p {
    text-align: center;
}

p a {
    margin: 0 10px;
}

body {
    background-image: url('../images/try.jpg');
    background-position: center;

}


.image-container {
    /* background-image: url('../images/try.jpg'); */
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-wrap: normal;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* height: 100%; */
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-top: 5%;   

}

.card text-center {
    /* Set desired width and height for the centered div */
    width: 300px;
    height: 200px;
    /* Additional styling properties */
    background-color: #ccc;
    text-align: center;
    /* margin-top: 50%; */
}

